.apiContainer{
  outline: 3px solid #4b7c91;
  background-color: #eee;
  border-radius: 2px;
  padding: 20px 15px;
  margin-top: 5em;
  box-shadow: 0px 0px 20px 4px rgba(75, 124, 145, 0.5);
  max-width: 800px; 
  margin: 25px auto;
  display: flex;
  flex-direction: column;
}

.apiItem{
  margin: 15px auto;
}

.apiItem:hover{
  outline: 1px solid #4b7c91;
  margin: 15px auto;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px rgba(75, 124, 145, 0.5);

}

.buttonCreate{
  max-width: 50%;
  display: flex;
  align-self: center;
  margin: auto;
}